.popup__screen {
  width: 80%;
  height: 20px;
  margin: 20px auto 0;
  background-color: #2a2a2a;
  border-radius: 5px;
  color: white;
  text-align: center;
  box-shadow: rgba(0,0,0,.6) 0 20px 60px 1px;
}